body{
    background-color: #B6EAD2;
}
.name{
    color:green;
   text-align: center;
    position: relative;
    top: 50px;
    
}
.Black{
    z-index: 5;
background-color:black;
width: 800px;
height: 170px;
position: absolute;
top: 130px;
left: 320px;

}
.White{
    z-index: 5;
    background-color: white;
    position: absolute;
    width:800px;
    height: 170px;
    top: 300px;
    left: 320px;
}
.Green{
    z-index: 5;
    background-color:green;
    width:800px;
    height: 170px;
    position: absolute;
    left: 320px;
    top: 470px;

}
.redre{
    z-index:6;

position: absolute;
top:215px ;
left:234px ;

width: 0;
  height: 0;
  border-left: 256px solid transparent;
  border-right: 256px solid transparent;
  border-bottom: 340px solid red ; 
  transform: rotate(90deg);
}






